@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: var(--pal-brown);
    --secondary: var(--pal-red);

    --pal-black: #141414;
    --pal-red: #b0323a;
    --pal-white: #f0d8c3;
    --pal-brown: #c87c0c;
    --pal-green: #2b3537;
    --pal-blue: #8aa8ab;

    --pal-darkblue: #0c2233;
    // --pal-darkblue: #0a1e2d;
    --pal-peru: #bc883d;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: #e6e8ea;
    background: var(--pal-darkblue);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 300;
}

input {
    @apply border;
}

h1 {
    font-family: var(--font-bitter);
    font-weight: 700;
    @apply text-4xl;
}
h3 {
    font-family: var(--font-bitter);
    font-weight: 600;
    @apply text-2xl mt-3 mb-6 font-medium text-pal-blue;
}
th {
    @apply text-left;
}
th,
td {
    @apply border p-1;
}
p {
    @apply my-3;
}
a {
    @apply text-pal-brown font-semibold;
}
section {
    @apply mb-20;
}

.bitter {
    font-family: var(--font-bitter);
}
.font-homemade-apple {
    font-family: var(--font-homemade-apple);
}

.container {
    @apply mx-auto px-4 max-w-7xl;
}

.city {
    background-image: url("/svg/vienna-w-anim.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 120px;
    opacity: 0.32;
    width: 100%;
    @apply text-white opacity-50 mt-auto -mb-0.5;
}
