@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: var(--pal-brown);
    --secondary: var(--pal-red);

    --pal-black: #141414;
    --pal-red: #b0323a;
    --pal-white: #f0d8c3;
    --pal-brown: #c87c0c;
    --pal-green: #2b3537;
    --pal-blue: #8aa8ab;

    --pal-darkblue: #0c2233;
    // --pal-darkblue: #0a1e2d;
    --pal-peru: #bc883d;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: #e6e8ea;
    background: var(--pal-darkblue);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 300;
}

input {
    @apply border;
}

h1 {
    font-family: var(--font-bitter);
    font-weight: 700;
    @apply text-4xl;
}
h3 {
    font-family: var(--font-bitter);
    font-weight: 600;
    @apply text-2xl mt-3 mb-6 font-medium text-pal-blue;
}
th {
    @apply text-left;
}
th,
td {
    @apply border p-1;
}
p {
    @apply my-3;
}
a {
    @apply text-pal-brown font-semibold;
}
section {
    @apply mb-20;
}

.bitter {
    font-family: var(--font-bitter);
}
.font-homemade-apple {
    font-family: var(--font-homemade-apple);
}

.container {
    @apply mx-auto px-4 max-w-7xl;
}

.city {
    background-image: url("/svg/vienna.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    max-height: 120px;
    max-width: 460px;
    aspect-ratio: 460 / 120;
    opacity: 0.32;
    // background-color: red;
    width: 100%;
    @apply text-white opacity-50 mt-auto  relative;
}
.wheel {
    background-image: url("/svg/wheel.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    animation: rotateWheel 20s infinite;
    @apply absolute;

    // height: 74px;
    // width: 74px;
    // right: 352px;
    // top: 32px;

    height: 60%;
    width: 15.655%;
    left: 7.7%;
    top: 27%;
}
@keyframes rotateWheel {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(45deg);
    } /* 1/8 rotation */
    25% {
        transform: rotate(90deg);
    }
    35% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    85% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
